#!/usr/bin/make -f

# We don't have a shared library yet
#DEB_DH_MAKESHLIBS_ARGS_libtelepathy-qt4-0 := -V"libtelepathy-qt4-0 (>= 0.2)"

include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

# We don't want the .la files, but complain if anything else is missing
binary-post-install/libtelepathy-qt4-dev::
	rm -f debian/tmp/usr/lib/*.la
common-binary-post-install-arch:: list-missing

DEB_DH_STRIP_ARGS := --dbg-package=libtelepathy-qt4-dbg

# forcibly build the static library to be position-independent, so KDE
# developers can link telepathy-qt4 into plugins
CFLAGS += -fPIC
CXXFLAGS += -fPIC

DEB_CONFIGURE_EXTRA_FLAGS := \
	--disable-Werror \
	--docdir=/usr/share/doc/libtelepathy-qt4-doc
DEB_MAKE_CHECK_TARGET = check

common-build-indep::
	$(DEB_MAKE_INVOKE) doxygen-doc

export DPKG_GENSYMBOLS_CHECK_LEVEL = 4

include $(CURDIR)/debian/update-patches.mk
