#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DDISABLE_WERROR=ON -DHAVE_DOT=YES \
	                     -DLIB_SUFFIX="/$(DEB_HOST_MULTIARCH)"

ifeq (,$(findstring nodocs,$(DEB_BUILD_OPTIONS)))
override_dh_auto_build:
	dh_auto_build --parallel
	dh_auto_build -- doxygen-doc
endif

override_dh_strip:
	dh_strip --dbg-package=libtelepathy-qt4-dbg

override_dh_makeshlibs:
	dh_makeshlibs -V

override_dh_install:
	dh_install --list-missing

# -i is for the doc package, which doesn't depend on the shared library
override_dh_installdocs:
	dh_installdocs -a --link-doc=libtelepathy-qt4-2
	dh_installdocs -i

# symbols file to be added later, if C++ even allows
#export DPKG_GENSYMBOLS_CHECK_LEVEL = 4
